*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: gray;
}
#app{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 5%;
}
#game{
    width: 50%;
    height: 50vh;
    border: 1px solid black;
    margin-left: 5%;
    display: inline-block;  
    box-shadow: 5px 5px 3px black;
    
    
}
.timer{
    width: 20%;
    height: 10%;
    border: 1px solid black;
    position: relative;
    left: 75%;
    top: -30%;
}
#ninja{
    width: 100%;
    height: 100%;

}
#character{
    width: 10%;
    height: 26%;
    position: relative;
    top: 73.5%;
}
.animate{
    animation: jump 500ms;
}
#block{
    width: 5%;
    height: 10%;
    background-color: red;
    position: relative;
    top: 63.5%;
    left: 95.1%;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:95.1%}
    100%{left:0%}
}
@keyframes jump{
    0%{top:73.5%}
    30%{top:40%}
    70%{top: 40%}
    100%{top: 73.5%}
}

/* LeaderBoard css */

.leaderboard{
    width: 30%;
    height: 50vh;
    border: 1px solid black;
    left: 60%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-shadow: 5px 5px 3px black;

}
.leaderContent{ 
    text-decoration: underline;
    
}

#leader{
    font-size: 4vh;
    display: inline-block;
    text-align: center;
    margin-top: 7%;
    
} 

#tryAgain{
    margin-top: 5%;
    margin-left: 15%;
    position:absolute;
    width: 30%;
    height: 15vh;
    border: 1px solid black;
    background-color: royalblue;
}
.againBut{
    margin-top: 5%;
    font-size: 5vh;
    text-align: center;
}
#fname{
    margin-left: 33%;
    margin-top: 3%;
}

